<div class="container">
  <div class="row">
    <!-- <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="product-body">
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="form-group">
            <label class="col-md-4">Product Name</label>
            <input
              type="text"
              #name="ngModel"
              name="name"
              [(ngModel)]="productService.formData.name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-md-4">Product Category</label>
            <input
              type="text"
              #categoryId="ngModel"
              name="categoryId"
              [(ngModel)]="productService.formData.categoryId"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-md-4">Product Description </label>
            <textarea
              #description="ngModel"
              name="description"
              [(ngModel)]="productService.formData.description"
              class="form-control"
              rows="7"
              cols="5"
            ></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              Create Product
            </button>
          </div>
        </form>
      </div>
    </div> -->

    <!-- <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="uploader-wrapper">
        <ngx-file-picker [adapter]="adapter" [enableCropper]="false">
        </ngx-file-picker>
      </div>
    </div> -->

    <div class="col-lg-6 col-md-6 col-sm-12">
      <form [formGroup]="form" (ngSubmit)="submitUser()">
        <div class="form-group">
          <label class="col-md-4">Product Name</label>
          <input type="text" formControlName="name" class="form-control" />
        </div>

        <div class="form-group">
          <label class="col-md-4">Product Category</label>
          <input
            type="text"
            formControlName="categoryId"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label class="col-md-4">Product Description </label>
          <textarea
            formControlName="description"
            class="form-control"
            rows="7"
            cols="5"
          ></textarea>
        </div>

        <div class="progress form-group" *ngIf="progress > 0">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            [style.width.%]="progress"
          ></div>
        </div>

        <div class="form-group">
          <input type="file" (change)="uploadFile($event)" />
        </div>

        <div class="form-group">
          <button class="btn btn-danger btn-block btn-lg">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
