<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Description</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">#</th>
            <td>{{ product.name }}</td>
            <td>${{ product.categoryId }}</td>
            <td>{{ product.description }}</td>
            <!-- <td><button type="button" class="btn btn-warning">Edit</button></td> -->
            <td>
              <a
                [routerLink]="['/product/edit', product.uuid]"
                class="btn btn-primary"
                >Edit</a
              >
            </td>
            <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
