<div class="container">
  <div style="margin-top: 10px;">
    <form action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Product name"
                aria-label="RProduct name"
                aria-describedby="basic-addon2"
              />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Select Category</option>
                <option>DSI</option>
                <option>Bata</option>
                <option>Nike</option>
                <option>Adidas</option>
              </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <button type="button" class="btn btn-primary wrn-btn">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div style="margin-top: 15px;">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <!-- card-group-item.// -->
          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title">Category</h6>
            </header>
            <div class="filter-content">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <span class="float-right badge badge-light round">52</span>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="Check1"
                  />
                  <label class="custom-control-label" for="Check1">Nike</label>
                </div>
                <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                  <span class="float-right badge badge-light round">132</span>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="Check2"
                  />
                  <label class="custom-control-label" for="Check2"
                    >Addidas</label
                  >
                </div>
                <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                  <span class="float-right badge badge-light round">17</span>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="Check3"
                  />
                  <label class="custom-control-label" for="Check3">Bata</label>
                </div>
                <!-- form-check.// -->

                <div class="custom-control custom-checkbox">
                  <span class="float-right badge badge-light round">7</span>
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="Check4"
                  />
                  <label class="custom-control-label" for="Check4">DSI</label>
                </div>
                <!-- form-check.// -->
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- card-group-item.// -->

          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title">Range input</h6>
            </header>
            <div class="filter-content">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
                    <input
                      type="number"
                      class="form-control"
                      id="inputEmail4"
                      placeholder="$0"
                    />
                  </div>
                  <div class="form-group col-md-6 text-right">
                    <label>Max</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="$1,0000"
                    />
                  </div>
                </div>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
        </div>
        <!-- card.// -->
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <ul class="list-group shadow">
          <li class="list-group-item" *ngFor="let product of productList">
            {{ product.description }}

            <div style="text-align: right;">
              <a href="moreInfo">more info</a>
            </div>
            <div
              class="media align-items-lg-center flex-column flex-lg-row p-3"
            >
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Shoe Adidas</h5>
                <p class="font-italic text-muted mb-0 small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Suscipit fuga autem maiores necessitatibus.
                </p>
                <div
                  class="d-flex align-items-center justify-content-between mt-1"
                >
                  <h6 class="font-weight-bold my-2">$120.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star-o text-gray"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <img
                src="{{ product.images[0].url }}"
                alt="Generic placeholder image"
                width="200"
                class="ml-lg-5 order-1 order-lg-2"
              />
            </div>
            <!-- End -->
          </li>

          <!-- <li class="list-group-item">
            <div style="text-align: right;">
              <a href="moreInfo">more info</a>
            </div>
            <div
              class="media align-items-lg-center flex-column flex-lg-row p-3"
            >
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Shoe Nike</h5>
                <p class="font-italic text-muted mb-0 small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Suscipit fuga autem maiores necessitatibus.
                </p>
                <div
                  class="d-flex align-items-center justify-content-between mt-1"
                >
                  <h6 class="font-weight-bold my-2">$120.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star text-success"></i>
                    </li>
                    <li class="list-inline-item m-0">
                      <i class="fa fa-star-o text-gray"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <img
                src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg"
                alt="Generic placeholder image"
                width="200"
                class="ml-lg-5 order-1 order-lg-2"
              />
            </div>
          
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
